
*.db
*.ipch
*.target
*.dll
*.pdb
*.uasset
*.modules
*.umap
*.bin
*.txt
*.log
*.dat
*.ubt
*.deps
*.uhtmanifest
*.obj
*.response
*.cpp
*.exp
*.lib
.vs/ShooterGame/v15/.suo
*.ini
*.vcxproj
*.filters
*.user
*.json
*.runtime-xml
*.dmp
