
.vs/ShooterGame/v15/.suo
*.db
*.opendb
*.ipch
*.pdb
*.dll
*.uasset
*.bin
*.ini
*.db-shm
*.db-wal
*.target
*.modules
*.umap
*.txt
*.log
*.dat
*.ubt
*.deps
*.uhtmanifest
*.obj
*.response
*.exp
*.lib
*.runtime-xml
*.dmp
*.json
*.vcxproj
*.filters
*.user
*.png
